<div class="sort-container">
  <div class="sort-header bg-primary-500 text-neutral-100">
    <span i18n>Sort By</span>
  </div>
  <img
    class="back-btn"
    ngSrc="assets/arrow-left.svg"
    height="20"
    width="20"
    (click)="onCloseClick()"
    (keydown)="onCloseClick()"
    alt="close"
    tabindex="0"
  />

  <div class="sort-options">
    <div
      *ngFor="let sortOption of sortOptions"
      class="sort-option"
      (click)="onSortSelected(sortOption)"
      (keydown)="onSortSelected(sortOption)"
      tabindex="0"
    >
      <input
        type="radio"
        name="sort-by"
        [id]="sortOption.title"
        [checked]="sortOption.isChecked"
      />
      <label [for]="sortOption.title">{{ sortOption.title }}</label>
    </div>
  </div>

  <div class="btn-container">
    <button
      class="done-btn btn-shadow text-neutral-100 bg-secondary-400"
      (click)="onClickDone()"
      [disabled]="!selectedSortOption"
      i18n
    >
      Done
    </button>
  </div>
</div>
