@import "../../../../../styles.scss";

.search-result-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.search-result-header,
.flight-header {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}

.search-result-header {
  position: sticky;
  top: 0;
  z-index: 8;
  padding: 0 1rem;
  min-height: 3rem;
}

.search-meta {
  flex-grow: 1;
  display: flex;
  margin: 0.5rem 0;
  flex-flow: column nowrap;
}

.path {
  display: flex;
  justify-content: center;
  font-weight: 500;
  align-items: center;
}

.time-details {
  display: flex;
  flex-flow: row nowrap;
}

.duration-details {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 2rem;
}

.add-stop,
.duration {
  text-align: center;
}

.add-stop {
  margin-bottom: 0.25rem;
}

.class-types {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.class-type {
  display: flex;
  flex-flow: column;
  min-width: 5rem;
  border-radius: 5px;
  padding: 0.5rem;
  flex-grow: 1;
  position: relative;
  max-width: 10rem;
}

.seats-left {
  position: absolute;
  top: -9px;
  right: 7px;
  background: #df981b;
  border-radius: 0.25rem;
  padding: 1.5px 3px;
}

.start-point,
.end-point {
  display: flex;
  flex-flow: column nowrap;
}

.flight-container {
  padding: 1rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) -1px 1px 0px 0px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-bottom: 0.5rem;
  border-top: 0.5px solid rgb(228, 228, 228);
}
.sort-filter-holder {
  position: sticky;
  bottom: 1rem;
  left: 0;
  right: 0;
  z-index: 8;
  display: flex;
  justify-content: center;
}
.sort-box,
.filter-box {
  padding: 0.25rem 1rem;
  flex-grow: 1;
}

.sort-box {
  border-right: 1px solid #cecece70;
}
.border-box {
  display: flex;
  border-radius: 0.5rem;
}

.sort-filter-locator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
}

.overflow-hidden {
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.other-details {
  text-align: center;
}

.align-end {
  text-align: end;
}

.time-line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.dot {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 8px;
  height: 8px;
  background-color: $clr-secondary-400;
}

.line {
  flex-grow: 1;
  border: 1px solid $clr-secondary-400;
}

@media (min-width: 961px) {
  .search-result-container {
    position: static;
  }

  .sort-filter-holder {
    display: none;
  }
  .sort-filter-locator {
    position: static;
  }

  .search-meta {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .desktop-layout-locator {
    display: grid;
    gap: 2rem;
    margin: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
      "filter search-result search-result"
      "sort search-result search-result";
  }

  .search-result-container {
    grid-area: search-result;
    box-shadow: $section-box-shadow;
  }

  .sort-filter-locator.filter {
    grid-area: filter;
    box-shadow: $section-box-shadow;
  }
  .sort-filter-locator.sort {
    grid-area: sort;
    box-shadow: $section-box-shadow;
  }
}
