<form [formGroup]="flightSearchInputFormGroup" (ngSubmit)="onSearchSubmit()">
  <div class="grid-parent">
    <app-suggestion-input
      class="suggestion-input-departure"
      [label]="controls.departure.label"
      [placeholder]="controls.departure.placeholder"
      (selectionChanged)="onDepartureInputChange($event)"
      (searchTextChanged)="onSearchTextChange($event)"
      [suggestionOptions]="(airportsSuggestionList$ | async) || []"
      [isSuggestionLoading]="(isAirportsListLoading$ | async) || false"
      [errorMessage]="getErrorMessage('departure')"
      (inputTouched)="onInputTouched('departure')"
      [selectedValue]="flightSearchModel.departure?.displayName || ''"
    ></app-suggestion-input>

    <app-suggestion-input
      class="suggestion-input-destination"
      [label]="controls.destination.label"
      [placeholder]="controls.destination.placeholder"
      (selectionChanged)="onDestinationInputChange($event)"
      (searchTextChanged)="onSearchTextChange($event)"
      [suggestionOptions]="(airportsSuggestionList$ | async) || []"
      [isSuggestionLoading]="(isAirportsListLoading$ | async) || false"
      [errorMessage]="getErrorMessage('destination')"
      (inputTouched)="onInputTouched('destination')"
      [selectedValue]="flightSearchModel.destination?.displayName || ''"
    ></app-suggestion-input>

    <app-date-range-picker
      class="input-date-picker"
      [startDatePickerTitle]="controls.dateRangePicker.startTitle"
      [endDatePickerTitle]="controls.dateRangePicker.endTitle"
      [startDatePickerLabel]="controls.dateRangePicker.startLabel"
      [endDatePickerLabel]="controls.dateRangePicker.endLabel"
      [selectedStartDate]="flightSearchModel.departDate!"
      [selectedEndDate]="flightSearchModel.returnDate!"
      (startDateChanged)="onDepartDateChange($event)"
      (endDateChanged)="onReturnDateChange($event)"
      (calendarTouched)="onCalendarTouched($event)"
      [errorMessage]="getDatePickerErrorMessage()"
    ></app-date-range-picker>

    <app-travellers-selector
      class="travellers-input"
      [adultsCount]="flightSearchModel.travellers?.adults || 0"
      [childrenCount]="flightSearchModel.travellers?.children || 0"
      (selectionChanged)="onTravellersChange($event)"
      (inputTouched)="onInputTouched('adultsCount')"
      [errorMessage]="getErrorMessage('adultsCount')"
    ></app-travellers-selector>

    <app-suggestion-input
      class="class-type-input"
      [label]="controls.classType.label"
      [placeholder]="controls.classType.placeholder"
      (selectionChanged)="onClassInputChange($event)"
      (searchTextChanged)="onClassSearchTextChange($event)"
      [suggestionOptions]="classOptions"
      [errorMessage]="getErrorMessage('classType')"
      (inputTouched)="onInputTouched('classType')"
      [selectedValue]="flightSearchModel.classType?.name!"
    ></app-suggestion-input>

    <input
      class="flight-search-btn fs-250 btn-shadow bg-secondary-400 text-neutral-100"
      type="submit"
      [value]="controls.search.value"
      [disabled]="isFormDisabled"
    />
  </div>
</form>
