.filter-header {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
.back-btn {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}

.price-range {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
}

.price-filter,
.class-filter {
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.grow {
  flex-grow: 1;
}

.btn {
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.btn-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.apply-btn {
  cursor: pointer;
}

.apply-btn:disabled,
.apply-btn[disabled] {
  opacity: 0.6;
}
.apply-btn:disabled:hover,
.apply-btn[disabled]:hover {
  cursor: default;
}

.checkbox {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.section-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (min-width: 961px) {
  .price-range {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .back-btn {
    display: none;
  }
}
