.tab-options,
.tab-option {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
}

.tab-options {
  justify-content: space-between;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  margin-top: 5px;
}

.tab-options::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.tab-option {
  gap: 8px;
  min-width: max-content;
  margin: 0 0.5rem;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid gray;
  padding: 0.5rem;
}

.active-border {
  border-color: #4000ff;
}

.icon {
  padding: 5px;
}
