<app-labelled-input-box
  [label]="controls.travellers.label"
  [value]="travellersDisplay"
  [placeholder]="controls.travellers.placeholder"
  [readOnly]="true"
  (inputClick)="onInputClicked()"
></app-labelled-input-box>

<div class="travellers-container" *ngIf="isPopoverOpen$ | async">
  <div class="backdrop"></div>
  <div class="travellers-selection-locator bg-neutral-100" #popup>
    <div class="travellers-header">
      <img
        ngSrc="./assets/cross.svg"
        height="20"
        width="20"
        (click)="onCloseClick()"
        (keydown)="onCloseClick()"
        tabindex="0"
        alt="close"
      />
      <span i18n>Select Travellers</span>
    </div>
    <div class="travellers-content">
      <div class="fw-bolder fs-150 text-neutral-250" i18n>
        ADD NUMBER OF TRAVELLERS
      </div>
      <div class="adults">
        <div class="traveller-catogery">
          <div class="fw-bold" i18n>Adults</div>
          <div class="fs-170" i18n>12 yrs & above on the day of travel</div>
        </div>
        <app-counter
          [count]="adultsCount"
          [maxLimit]="09"
          (countChange)="onAdultsCountChange($event)"
        ></app-counter>
      </div>

      <div class="children">
        <div class="traveller-catogery">
          <div class="fw-bold" i18n>Children</div>
          <div class="fs-170" i18n>2-12 yrs & above on the day of travel</div>
        </div>
        <app-counter
          [count]="childrenCount"
          [maxLimit]="09"
          (countChange)="onChildrenCountChange($event)"
        ></app-counter>
      </div>

      <input
        type="button"
        [value]="controls.doneBtn.value"
        class="submit-travellers bg-secondary-400 text-neutral-100"
        [disabled]="isSubmitDisabled"
        (click)="onSubmit()"
      />
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="error fs-150 fw-semi-bold">
  {{ errorMessage }}
</div>
